<a href="https://linkedin.com/in/{{ site.social_username }}" title="Check my profile out on LinkedIn" class="link-social block">
    <svg height="32" class="header-social" version="1.1" width="32" viewBox="0 0 16 16" aria-hidden="true"
     <path fill="black" id="svg_1" d="m8,0c-4.4,0 -8,3.6 -8,8s3.6,8 8,8s8,-3.6 8,-8s-3.6,-8 -8,-8z"/>
    <text transform="matrix(0.49398349981663614,0,0,0.4031154562977548,-0.03843202798298684,15.49280860200549) " xml:space="preserve" text-anchor="middle" font-family="Sans-serif" font-size="24" id="svg_4" y="-12.79517" x="15.74013" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" fill="#ffffff">in</text>  </svg>
  </svg>
  </a>
